<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="script/angular.min.js"></script>
    <script>
        var module=angular.module("myModule",[]);
        module.controller("myController",function($scope,$http){
                


                $scope.jsonArray;

                //-------------
                $scope.doDelete=function(email)
                {
                    if(confirm("R U Sure?")==false)
                        return;
                        var url="/do-angular-delete?emailkuch="+email;//+"&pwd="+pwdkuch;
                        $http.get(url).then(done,fail);
                        function done(response)
                        {
                           alert(response.data);
                           $scope.fetchRecords();

                        }
                     function fail(response)
                        {
                                alert(response.data);
                        }   

                }
                //===============
                $scope.doBlock=function(email)
                {
                   
                        var url="/do-angular-block?emailkuch="+email;
                        $http.get(url).then(done,fail);
                        function done(response)
                        {
                           alert(response.data);
                           $scope.fetchRecords();

                        }
                     function fail(response)
                        {
                                alert(response.data);
                        }   

                }
                //==============
                $scope.doResume=function(email)
                {
                    
                        var url="/do-angular-resume?emailkuch="+email;
                        $http.get(url).then(done,fail);
                        function done(response)
                        {
                           alert(response.data);
                           $scope.fetchRecords();

                        }
                     function fail(response)
                        {
                                alert(response.data);
                        }   

                }
                //=================
                $scope.fetchRecords=function()
                {
                    var url="/get-angular-all-records";
                    $http.get(url).then(done,fail);
                    function done(response)
                        {
                            // alert(JSON.stringify(response.data));
                            $scope.jsonArray=response.data;

                        }
                     function fail(response)
                        {
                                alert(response.data);
                        }   
                }
                
        })
    </script>
    <script>
        $(document).ready(function()
        {
            $("#btn").dblclick(function()
            {
                $("#t1").fadeToggle(1000);
            })
        })
    </script>
    <style>
        body{
            background-color: black;
           

        }
        #t1
        {
            width: 1000px;
        
        }
    </style>
</head>
<body ng-app="myModule" ng-controller="myController">
     <center>  
        <br>
        <button type="button" class="btn btn-warning" ng-click="fetchRecords();" value="fetchRecords" id="btn">Fetch Records</button>
        
         <br><br>
         <table class="table table-hover table-warning" id="t1" >
                <tr >
                    <th>Sr.No</th> <th>Email id</th><th>Password</th> <th>Date of Signing</th><th>Type</th><th>Status</th><th><center>Operations</center></th>
                    <tr ng-repeat="obj in jsonArray" >
                        <td>{{$index+1}}</td>
                        <td>{{obj.email}}</td>
                        <td>{{obj.pwd}}</td>
                        <td>{{obj.dos}}</td>
                        <td>{{obj.type1}}</td>
                        <td>{{obj.status}}</td>
                        <td align="center">
                                <input type="button" class="btn btn-danger" value="Block" ng-click="doBlock(obj.email);">
                                <input type="button" class="btn btn-success" value="Resume" ng-click="doResume(obj.email);">
                                <input type="button" class="btn btn-primary" value="Delete" ng-click="doDelete(obj.email);">
                        </td>
                    </tr>
                </tr>
         </table>
         
    </center>
    
</body>
</html>